
body {
	margin: 0px;
	padding: 0px;
}
/*General Purpose css*/
.white-text {
	color: white;
}

.inline {
	display: inline;
}

/*                   */
nav {
	background: rgb(56, 62, 76);
	position: fixed;
    right: 0;
    left: 0;
    z-index: 9999999;
}

nav ul {
	margin: 0px;
	text-align: center;
}

nav li {
	display: inline-block;
	border: 1px solid grey;
	margin: 1%;
	padding: 10px 30px;
}

nav a {
	text-decoration: none;
	font-size: 1.4rem;
	font-family: sans-serif;

}
main h1, h3{
	margin-top: 0;
	z-index: 1;
	position: relative;
	text-align: center;
	position: relative;
	top: 25%;
	font-size: 3rem;
}
#image {
	background-image: url('https://cdn.pixabay.com/photo/2017/08/06/05/29/nature-2589105_960_720.jpg');
	height: 400px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.overlay {
	position: relative;
}

.overlay:before{
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  display: block;
  z-index:0;
  background-color: rgba(0,0,0,0.5);
}

.About {
	display: flex;
	flex-direction: row;
	margin-top: 5%;
}

.images-thirty {
	width: 70%;
	height: 55%;
	max-width: 700px;
	position: relative;
	left: 15%;
}
.section-heading {
	font-size: 2rem;
	position: relative;
	left: 15%;
	margin-top: 0;
}

.section-paragraph {
	width: 75%;
	position: relative;
	left: 15%;
}

.section-button {
	position: relative;
	left: 27%;
	font-size: 1.5rem;
	text-decoration: none;
	background: red;
	color: white;
	display: block;
	width: 40%;
	text-align: center;
}

#green-button {
	background: rgb(18, 102, 33);
}

#orange-button {
	background: rgb(216, 103, 10);
}

#brown-button {
	background: rgb(135, 103, 78);
}

.grey-background {
	background: rgb(242, 242, 242);
	width: 70%;
	position: relative;
	left: 15%;
	height: auto;
}

.two-column-section {
	margin-top: 10%;
	display: flex;
	flex-direction: row;
	position: relative;
	left: 10%;
}
.two-column-images {
	width: 60%;
}
.column-width {
	width: 60%;
	text-align: center;
	background: rgb(242, 242, 242);
	width: 50%;
	position: relative;
	left: 5%;
}

.two-column-header {
	font-size: 2rem;
	margin-top: 0;
}

.form {
	background-image: url("https://images.pexels.com/photos/216798/pexels-photo-216798.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb");
	height:400px;
}

#form-position {
	width: 70%;
	margin: 0 auto;
	position: relative;
	top: 15%;
}
.form-background {
	background: rgba(30, 30, 30, 0.8);
}
.form p {
	font-size: 1.2rem;
	text-align: center;
}

.block {
	display: block;
	margin: 15%;
	font-size: 1.4rem;
	position: relative;
	bottom: 15%;
	}

#flex-form {
	display: flex;
	flex-direction: row;
}

textarea {
	margin-left: 10%;
	font-size: 1.5rem;
}

input::placeholder {
	color: white;
}

textarea::placeholder {
	color: white;
}

footer {
	text-align: center;
	color: green;
	font-size: 1.2rem;
}